/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    
}

body {
    background-color: #f7f7f7;
    transition: filter 0.3s ease-in-out;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 35px;
  background-color: #045471; 
  color: #ffffff;
  border-bottom: 0px solid black; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.header-logo a{
    color: #fff;
    text-decoration: none;
  }

.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-menu a {
    display: flex;
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease, transform 0.3s ease; 
  }
  
  .nav-menu i {
    margin-right: 8px; 
    font-size: 1.1em;
  }
  
  .nav-menu a:hover {
    transform: scale(1.2); 
  }

.login-btn, .sell-btn {
    background-color: #04729a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    transition: color 0.3s ease, transform 0.3s ease; 
}

.login-btn:hover , .sell-btn:hover {
    transform: scale(1.2); 
}



.login-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px 40px;
    border-radius: 0px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: none;
    width: 400px;
    max-width: 90%;
}

.blur-background {
    filter: blur(5px);
}

.login-form-container .close-btn {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.login-form-container h2 {
    margin-top: 0;
    text-align: center;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
}

.login-form-container label {
    margin-top: 15px;
    font-weight: bold;
}

.login-form-container input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.login-form-container button {
    width: 100%;
    padding: 10px;
    background-color: #04729a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.login-form-container button:hover {
    background-color: #045471;
}

.login-form-container p {
    margin-top: 15px;
    text-align: center;
}

.login-form-container p a {
    color: #04729a;
    text-decoration: none;
}

.login-form-container p a:hover {
    text-decoration: underline;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.login-form h2 {
    margin: 0 0 20px;
    text-align: center;
}

.login-form label {
    display: block;
    margin: 10px 0 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #04729a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #045471;
}



.promo-section {
    position: relative;
    width: 100%;
    height: 500px; 
    background-image: url('images/poster4.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 800px;
}

.promo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-content {
    color: #fff; /* White text for contrast */
    text-align: center;
}

.promo-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-right: 800px;
}

.promo-content p {
    font-size: 1.3rem;
    margin-right: 1000px;
    margin-bottom: 30px;
}

.promo-input {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.promo-input input {
    padding: 15px;
    font-size: 1rem;
    width: 300px;
    border: none;
    border-radius: 5px;
}

.start-selling-btn {
    padding: 15px 25px;
    background-color: #045471;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.start-selling-btn:hover {
    background-color: #045471;
}

/* Responsive Design */
@media (max-width: 768px) {
    .promo-section {
        flex-direction: column;
        align-items: center;
    }

    .promo-content, .promo-image {
        max-width: 100%;
        text-align: center;
    }

    .promo-content h1 {
        font-size: 2rem;
    }

    .promo-input input {
        width: 100%;
    }
}

/* Section for How It Works */
.how-it-works-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}

.how-it-works-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #045471;
}

/* Container for the steps */
.steps-container {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: #ffffff;
    box-shadow: 0 2px 4px #045471;
    /* border: 1px solid #045471; */
    border-radius: 0px;
    padding: 20px;
    flex-wrap: wrap;
    color: #045471;
}

/* Individual step box */
.step {
    width: 15%;
    height: 15%;
    padding: 20px;
    background-color: #fff;
    border-radius: 0px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
    margin-bottom: 20px;
}

.step h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.step p {
    font-size: 1rem;
    color: #045471;
    text-align: start;
    
}

@media (max-width: 768px) {
    .steps-container {
        flex-direction: column;
        height: auto;
    }

    .step {
        width: 100%;
    }
}


.footer {
    background-color: #045471;
    padding: 40px 20px;
    color: #fff;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    gap: 200px; /* Add space between different columns */
}

.footer-left {
    flex: 1;
}

.footer-logo {
    font-size: 40px;
    color: #fff;
    margin: 0 0 10px 0;
}

.start-selling-btn {
    display: inline-block;
    background-color: #04729a;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: color 0.3s ease, transform 0.3s ease; 
}

.start-selling-btn:hover{
    transform: scale(1.2);
    background-color: #04729a;
}

.footer-links {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 200px; /* Increased gap to add more spacing between columns */
}

.footer-links div {
    min-width: 200px;
}

.footer-links h3 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 15px; /* Add more spacing below headings */
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    margin: 8px 0;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.contact-us {
    flex: 1;
    min-width: 200px;
}

.contact-us h3 {
    font-size: 24px;
    margin-bottom: 15px; /* Add spacing below contact heading */
}

.contact-us a {
    color: #fff;
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-icons a {
    color: white;
    font-size: 25px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #d8a7c3; 
  }

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    color: #fff;
    text-align: center;
}
